*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

#playground{
  width: 500px;
  height: 500px;
  background-color: darkblue;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

h1{
  text-align: center;
  margin: 30px;
  font-family: sans-serif;
}

button{
  margin: 30px auto;
  padding: 5px 10px;
  display: block;
  cursor: pointer;
}


.selection {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cell{
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.active{
  background-color: aquamarine;
}


.bomb-clicked {
  background-color: red; 
}